<div class="container company-edit">
  <h1>Edit Company</h1>

  <%= render 'form' %>  

	<div class="back-button">
	  <%= link_to 'Back', companies_path, class: 'btn btn-secondary btn-lg active' %>
	</div>
</div>